<!DOCTYPE html>
<html lang="en">
<head>
	<title>@ViewBag.Title | Video Games SPA</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="James Skemp" />
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
	@RenderSection("HeadContent", false)
	<script type="text/javascript">
		window.google_analytics_uacct = "UA-541034-10";
	</script>
</head>
<body>
	<div class="page" data-ng-app="videoGamesApp">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<ul class="nav nav-pills" data-ng-controller="NavbarController">
						<li data-ng-class="{'active':getClass('/home')}"><a href="#/home">Home</a></li>
						<li data-ng-class="{'active':getClass('/games')}"><a href="#/games">Games</a></li>
						<li data-ng-class="{'active':getClass('/profile')}"><a href="#/profile">Profile</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div id="header" class="container">
			<div class="row">
				<div id="title" class="span12">
					<h1>Video Games SPA for James Skemp</h1>
				</div>
			</div>
		</div>
		<div id="main" class="container">
			<div class="row">
				@RenderBody()
			</div>
		</div>
		<div id="footer">
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container">
						<footer>
							<div class="row">
								<div class="span12">
									<p class="contact"><span class="email_addr">StrivingLife [at] gmail [dot] com</span>
									- or -
									<span class="email_addr">JamesRSkemp [at] eml [dot] cc</span></p>
									<p><a href="https://github.com/JamesSkemp/VideoGamesSpa" target="_blank">Based on the Video Games SPA project</a>.</p>
								</div>
							</div>
						</footer>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript">!window.jQuery && document.write('<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"><\/script>')</script>
	<script type="text/javascript" src="~/Scripts/jquery-migrate-1.1.1.min.js"></script>
	<script type="text/javascript" src="~/Scripts/angular.min.js"></script>
	<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="~/app/app.js"></script>
	<script type="text/javascript" src="~/app/controllers/controllers.js"></script>
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-541034-10");
		pageTracker._initData();
		pageTracker._trackPageview();
	</script>
	@RenderSection("FooterScripts", false)
</body>
</html>